@import "src/Sass/main.scss";

.main-command-container {
  max-height: 12vh;
  background: #f5f6f8;
  border-radius: 8px 8px 0 0;
overflow: hidden;
padding: 0.5rem;
& .heading {
  // padding: 1rem 1rem;
  @include secondary-heading;
}
& .timer{
  width: 100%;
  text-align: right;
    @include secondary-sub-heading;

  }

  & .command-list-scroll {
    background: #f5f6f8;
    border-radius: 0 0 8px 8px;
    padding: 0.5rem 1rem;

    max-height: 100%;
    // height: 500px;
    overflow-y: scroll;
    .MuiAutocomplete-root {
      padding: 0;
      margin: 0;
    }
    .MuiInput-root {
    }
  }
}
